@charset "UTF-8";
@font-face {
    font-family: 'my-iconfont';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/iconfont/my-iconfont.eot");
    src: url("../fonts/iconfont/my-iconfont.woff2") format("woff2"), url("../fonts/iconfont/my-iconfont.woff") format("woff"), url("../fonts/iconfont/my-iconfont.ttf") format("truetype"), url("../fonts/iconfont/my-iconfont.eot?#iefix") format("embedded-opentype");
}

.my-icon[class^="my-icon-"],
.my-icon[class*=" my-icon-"] {
    display: inline-block;
    font-family: 'my-iconfont';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.my-icon-pin:before {
    content: "";
}

body {
    text-align: center;
}
