@font-face {
  font-family: 'wg-iconfont';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/wg-iconfont/wg-iconfont.eot');
  src: url('../fonts/wg-iconfont/wg-iconfont.woff') format('woff'),
  url('../fonts/wg-iconfont/wg-iconfont.ttf') format('truetype'),
  url('../fonts/wg-iconfont/wg-iconfont.eot?#iefix') format('embedded-opentype');
}

.wgi[class^="wgi-"],
.wgi[class*=" wgi-"] {
  display: inline-block;
  font-family: 'wg-iconfont';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

$icons: (
pin: '\EA01',
    headset: '\EA02',
    tools: '\EA03'
);

@each $name, $icon in $icons {
  .wgi-#{$name}:before {
  content: $icon;
}
}